</div>

<footer>
  <div class="container">
    <span class="copyright">&copy; {{ .Site.LastChange.Year }} xianxiaow@gmail.com - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
  </div>
</footer>

</body>
</html>
